    <!-- <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script> -->
</body>

<!-- <footer>
    <p>Copyright&#174; 2022 Tushar Dhiman</p>
</footer> -->

</html>