<!-- including student portal header -->
<%- include("../student-portal-header.ejs") %>

    <div class="std-content">
        <div class="content-placement">
            <div class="placement">
                <div class="placement-record">
                    <h3>Placement Records</h3>
                    <div class="record-detail">
                        <div>
                            <p>Campus Visit:</p>
                            <span>20</span>
                        </div>
                        <div>
                            <p>Appeared:</p>
                            <span>12</span>
                        </div>
                        <div>
                            <p>Placed:</p>
                            <span>4</span>
                        </div>
                        <div>
                            <p>In-Process:</p>
                            <span>2</span>
                        </div>
                    </div>
                    
                    <div class="record-desc">
                        <table>
                            <tr>
                                <th>Company Name</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>Capgemini</td>
                                <td>Offered</td>
                            </tr>
                            <tr>
                                <td>Andritz Hydro</td>
                                <td>Placed</td>
                            </tr>
                            <tr>
                                <td>Prolifics</td>
                                <td>Progess</td>
                            </tr>
                            <tr>
                                <td>Yamaha</td>
                                <td>Progess</td>
                            </tr>
                            <tr>
                                <td>Uniparts Ltd.</td>
                                <td>Offered</td>
                            </tr>
                            <tr>
                                <td>Knoldus</td>
                                <td>Offered</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="placement-upcoming">
                    <h3>Upcoming Placements Drives</h3>
                    <table>
                        <tr>
                            <th>Company</th>
                            <th>Date</th>
                        </tr>
                        <tr>
                            <td>Amazon</td>
                            <td>Feb-10</td>
                        </tr>
                        <tr>
                            <td>Paytm</td>
                            <td>Feb-23</td>
                        </tr>
                        <tr>
                            <td>Samsung</td>
                            <td>Feb-26</td>
                        </tr>                        
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- including student portal footer -->
    <!-- </section> !! included !! -->
    <%- include("../student-portal-footer.ejs") %>