<!-- including student portal header -->
<%- include("../student-portal-header.ejs") %>

<div class="std-content">
    <div class="content-update">
        <div class="new-update">
            <h3>Updates</h3>
            <table>
                <tr>
                    <td class="update-time">12/1/23,(10:12 AM):</td>
                    <td class="update-msg"><a href=""><i class="fa-solid fa-bolt-lightning"></i> Providing new material for your upcoming examinations.</a></td>
                </tr>
                <tr>
                    <td class="update-time">10/1/23,(01:12 PM):</td>
                    <td class="update-msg"><a href=""><i class="fa-solid fa-bolt-lightning"></i> Extra Classes are going to start from next week.</a></td>
                </tr>
                <tr>
                    <td class="update-time">1/1/23,(00:12 PM):</td>
                    <td class="update-msg"><a href=""> Feedback Forms are live, please give your feedback within 2 days.</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- including student portal footer -->
<!-- </section> !! included !! -->
<%- include("../student-portal-footer.ejs") %>